button {
    font-family: 'DotGothic16';
    font-weight: bold;
    color: var(--background-primary);

    background-color: var(--font-primary);

    border: 4px solid transparent;
    border-radius: var(--border-radius);

    text-align: center;

    margin: 6px;

    height: fit-content;
    width: fit-content;
}

button img {
    height: clamp(20px, 1vw, 40px);
}

button:hover,
select:hover {
    cursor: pointer;

    border: var(--border)
}

select {
    background-color: var(--font-primary);

    font-family: 'DotGothic16';
    color: var(--background-primary);

    border: 4px solid transparent;
    border-radius: var(--border-radius);
}

select>option {
    color: var(--background-primary);

    border-radius: var(--border-radius);
}