@font-face {
    font-display: swap;
    font-family: 'DotGothic16';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/dotgothic16-v21-latin-regular.woff2') format('woff2');
}