* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

html {
    font-family: 'Gotu';
    font-size: 16px;
    color: var(--font-primary);

    background-color: var(--background-primary);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

dialog {
    width: clamp(340px, 20vw, 600px);
    height: fit-content;

    margin: auto;

    padding: clamp(8px, 4vw, 16px);
    color: var(--font-primary);
    background-color: var(--font-primary);

    border: var(--border);
    border-radius: 36px;

    overflow: hidden;
}

dialog h2 {
    flex-direction: column;
}

dialog>h2>button {
    display: flex;
    margin-left: auto;
}

dialog::backdrop {
    background-color: transparent;
    backdrop-filter: blur(4px);
}