:root {
    --font-primary: rgb(139, 172, 15);
    --background-primary: rgb(15, 56, 15);
    --background-secondary: rgb(48, 98, 48);
    --border: 4px solid rgb(155, 188, 15);
    --border-radius: 16px;
}